[submodule "cbor"]
	path = cbor
	url = ../../dr-bonez/cbor.git
[submodule "json-patch"]
	path = json-patch
	url = ../../dr-bonez/json-patch.git
[submodule "json-ptr"]
	path = json-ptr
	url = ../../dr-bonez/json-ptr.git
